@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000000;
  background-color: #F0F5F3;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* styles.css */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #e4e4e5 transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 2px;
}

.fji{
    display: flex;
    justify-content: center;
    align-items: center;
}

.w-full {
  width: 100% !important;
}

.h-full {
  height: 100% !important;
}

.rounded-full {
  border-radius: 100px !important;
}

/* Custom colors */
.bg-dark {
  background-color: #dfbaa4;
}

.bg-light {
  background-color: #F9F4F1;
}

.bg-lightgreen {
  background-color: #C3E66E;
}

.bg-darkgreen {
  background-color: #7A6C31;
}

.bg-brown {
  background-color: #391B28;
}

.lightgreen {
  color: #C3E66E;
}

.lightgreen2 {
  color: #b0d164;
}

.lightgreen3 {
  color: #94bc38;
}

.bg-lightbrown {
  background-color: #fed960;
}

.bg-beji {
  background-color: #f5ece6;
}

.beji {
  color: #F9F4F1;
}

.bg-gray {
  background-color: #8F9093;
}

.bg-light-gray {
  background-color: #e2e0e081;
}

.gray {
  color: #8F9093;
}

.bg-orange {
  background-color: #ffa946;
}

.orange {
  color: #ffa946
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
    /* Yuqoridan boshlaydi */
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    /* Ko'rinadigan holat */
  }
}

.animate-slide-up {
  opacity: 0;
  /* Boshlang‘ich holat: ko‘rinmas */
  transform: translateY(100%);
  /* Pastdan boshlanadi */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  /* 0.5 soniya animatsiya */
}

.animate-slide-up.visible {
  opacity: 1;
  /* Ko‘rinadigan holat */
  transform: translateY(0);
  /* Normal pozitsiya */
}