@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000000;
  background-color: #F0F5F3;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.w-full {
  width: 100% !important;
}

.rounded-full {
  border-radius: 100px !important;
}

.main-bg-color {
  background-color: #F0F5F3;
}

.main-bg-color-dark {
  background-color: #5aad8a;
}

/* styles.css */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #e4e4e5 transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 2px;
}

.bg-lightgreen {
  background-color: #C3E66E;
}

.lightgreen {
  color: #C3E66E;

}

.bg-beji {
  background-color: #F9F4F1;
}

.beji {
  color: #F9F4F1;
}

.bg-gray {
  background-color: #8F9093;
}
.bg-gray-light {
  background-color: #dcdde0;
}

.gray {
  color: #8F9093;
}

.bg-orange{
  background-color: #FFA157;
}

.orange{
  color: #FFA157
}